/*.position-relative-container {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}


.svgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-jokes {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%; 
    text-align: center; 
    color: #000; 
}


.rating {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#boton {
    margin-top: 20px;
}*/
.position-relative-container{
        position: relative;
        width: 100%;
        height: 100vh; 
        overflow: hidden; 
}

.svgImage{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    z-index: 1;
    display: flex;
}
.text-jokes {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0); 
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    font-family:"Caveat", cursive;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.rating{
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.emoji{
    border: none;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
}

.emoji:hover{
    margin: 10px;
    text-align: center;
    cursor: pointer;
    animation: changeDC .20s forwards;
}

header {
    font-family:"Caveat", cursive;
    font-weight: bold;
    font-size: 40px;
}
@keyframes changeDC{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.18;
    }
}

@media (max-width: 800px) {

    #clima {
        text-align: center;
    }
  
    .rating{
        font-size: 30px;

    }
    .text-jokes{
        font-size: 20px;
    }
    #boton{
        width: 100%;

        display: flex;
        text-align: center;
    }

    #clima2 {
        text-align: left;
    }
    

        
}

@media (max-width: 250px) {

    #clima {
        text-align: center;
        flex-direction: column;
    }
    
    #boton{
        width: 90%;
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    #clima2 {
        text-align: left;
        flex-direction: column;
    }

}
.btn-warning {
    width: 200px;
    padding: 10px 20px;
    background-color: #f4d31a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family:"Caveat";
    font-size: 25px;
  }
 
