.contenedor{
    margin: 0; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.contenedor1 {
    width: 55%; 
    max-width: 70%; 
    z-index: 1;
    display: wrap;
    position: absolute;
    color: whitesmoke;
    font-style: oblique;
    padding: auto;
    justify-content: center;
}

span{
    width: 1250px;
    position: absolute;
    text-align: right;
    justify-content: center;
}

.rating{
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.emoji{
    border: none;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
}

.emoji:hover{
    margin: 10px;
    text-align: center;
    cursor: pointer;
    animation: changeDC .20s forwards;
}

header {
    font-family:"Caveat", cursive;
    font-weight: bold;
    font-size: 40px;
}
@keyframes changeDC{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.18;
    }
}

@media (max-width: 576px) {
    #clima {
        text-align: center;
    }
    #contenedor{
        width: 120%;
        font-size: 20%;
    }
    .rating{
        width: 100%;
        font-size: 40px;
    }
    #boton{
        width: 100%;
    }

    #clima2 {
        text-align: left;
    }
}

.btn-warning {
    width: 200px;
    padding: 10px 20px;
    background-color: #f4d31a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family:"Caveat";
    font-size: 25px;
  }
 
