html,
body {
  overflow-x: hidden ;
}
.position-relative{
    position: relative;
}
.text-jokes {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    color: rgb(4, 1, 1); /* Ajusta el color según sea necesario */
    text-align: center;
    width: 60% auto;
    font-size: 30px;
    font-family:"Caveat", cursive;
}

.rating{
    margin-top: 10px;
}
.svgImage{
    width: 1200px;
    position: absolute;
    text-align: right;
    justify-content: center;
    left: 50%;
    top: 50%;
    z-index: 0;
}

.rating{
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.emoji{
    border: none;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
}

.emoji:hover{
    margin: 10px;
    text-align: center;
    cursor: pointer;
    animation: changeDC .20s forwards;
}

header {
    font-family:"Caveat", cursive;
    font-weight: bold;
    font-size: 40px;
}
@keyframes changeDC{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.18;
    }
}

@media (max-width: 900px) {
    body{
        background-color: #8A3FFC;
    };
    #svgImage{
        width: 100%;
        top: auto;
        left: auto;
        position: relative;
        
    }

    span{
        display: none;
    }
    #clima {
        text-align: center;
    }
  
    .rating{
        width: 100%;
        font-size: 40px;
        flex-direction: none;
    }
    #boton{
        width: 100%;
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    #clima2 {
        text-align: left;
    }
}

@media (max-width: 250px) {
    body{
        background-color: #8A3FFC;
    }
    span{
        display: none;
    }
    #clima {
        text-align: center;
        flex-direction: column;
    }
    #svgImage{
        width: 100%;
        font-size: 20%;
        box-sizing: none;

    }
    .rating{
        width: 90%;
        font-size: 40px;
        flex-direction: flex;
        display: flex;
    }
    #boton{
        width: 90%;
        flex-direction: column;
        display: flex;
        text-align: center;
    }

    #clima2 {
        text-align: left;
        flex-direction: column;
    }
}

.btn-warning {
    width: 200px;
    padding: 10px 20px;
    background-color: #f4d31a;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family:"Caveat";
    font-size: 25px;
  }
 
